<!DOCTYPE html>
<html>
  <head>
    <title>Conversational Data Monster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="static/assets/icons/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>

  <body>
    
    <!-- https://stackoverflow.com/questions/11701311/logo-image-and-h1-heading-on-the-same-line -->
    <div class="jumbotron">


      <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>Conversational data monster</h1>
                <h2>Dialogue with your data</h2>
            </div>
            <div class="col-md-2">
                <img src="/static/assets/logo/logo.png" alt="logo" width="150">
            </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">

        <div class="col-md-4" id="table">
          <table>
            <thead>
                <tr>
                {# get column name #}
                {% for value in data[0] %}
                    <th>{{value}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for i in range(1,5) %} 
            <tr>
                {# set value#}
                  {% for value in data[i] %}
                    <td>{{value}}</td>
                  {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        {% if plot %}
          <div class="col-md-4">
            <img src="data:image/png;base64,{{plot}}" width="200%"/>
          </div>
        {% endif %}

      </div>
    </div>

    <!-- CHAT and input dialog -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          
        <!-- <div class="col-md-4"> -->
          {% for value in dialogue_usr %}
            <p><span class="badge badge-secondary">{{value}}</span></p>
          {% endfor %}
        <!-- </div> -->
  
          <form role="form" method="POST" action="/">
            <div class="form-group">
              <input type="text" name="textInput" class="form-control" id="url-box" placeholder="Enter Command ... 'load data' or 'plot a vs b' " autofocus>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

          {% for error in errors %}
            <h4>{{ error }}</h4>
          {% endfor %}
        
        </div>
      </div>
    </div>

    <hr/>


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  
  </body>
</html>